.bow {
    width: 440px;
    height: 333px;
    position: relative;
    
    img {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .size {
        position: absolute;
        display: block;
        bottom: 36px;
        right: 30px;
        text-align: center;
    }

    .button {
        position: absolute;
        left: 50%;
        bottom: 34px;
        margin-left: -67px;
    }

    .price {
        position: absolute;
        bottom: 22px;
        left: 25px;
    }
}
