*.pyc

.installed.cfg
bin
eggs
downloads
parts
develop-eggs

*.egg-info

tmp
build
dist

src/thebowbakery/media/bow
devdb

src/thebowbakery/media/admin
src/thebowbakery/media/common/
src/thebowbakery/media/grappelli
src/thebowbakery/media/inventory
src/thebowbakery/media/skin
