{% extends "structure/basic.html" %}

{% block extra_link %}
    <link rel="stylesheet/less" media="all" href="{{ MEDIA_URL }}inventory/css/structure.less" />
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<div class="component">
    <p>The header</p>

    <div class="head">
        <h1 class="logo">The Bow Bakery</h1>
        <ul class="nav string">
            <li><a href="mailto:help@thebowbakery.com">help@thebowbakery.com</a></li>
            <li><a href="/privacypolicy">Privacy</a></li>
        </ul>
        <div class="shipping"><span class="wow">Free shipping!</span>in the U.S.</div>
    </div>
</div>

<div class="component">
    <p>The checkout</p>

    <div class="checkout">
        <ul class="string">
            <li>
                <img src="{{ MEDIA_URL }}/bow/empty.png" height="80px;" />
                <a class="button trash-it" href="">Remove</a>
            </li>
            <li>
                <img src="{{ MEDIA_URL }}/bow/empty.png" height="80px;" />
                <a class="button trash-it" href="">Remove</a>
            </li>
            <li>
                <img src="{{ MEDIA_URL }}/bow/empty.png" height="80px;" />
                <a class="button trash-it" href="">Remove</a>
            </li>
        </ul>

        <div class="total">
            <span class="dollar-sign">$</span><span>9.00</span>
        </div>

        <a class="button pay" href="">Checkout with PayPal</a>
    </div>
</div>

<div class="component">
    <p>Display a bow</p>

    <div class="bow">
        <img src="{{ MEDIA_URL }}/bow/empty.png" style="left: 35px; top: -25px;" />

        <span class="size">3&rdquo;</span>

        <span class="price"><span class="dollar-sign">$</span>9</span>

        <a href="#" class="button add">Add to cart</a>
    </div>
</div>

<div class="component">
    <p>What if there are no bows left to purchase?</p>

    <div class="bow">
        <img src="{{ MEDIA_URL }}/bow/empty.png" style="left: 35px; top: -25px;" />

        <span class="size">3&rdquo;</span>

        <span class="price"><span class="dollar-sign">$</span>9</span>
    </div>
</div>

<div class="component">
    <p>Display bows in a row</p>

    <div class="string">
        <div class="bow-wrapper">
            <div class="bow">
                <img src="{{ MEDIA_URL }}/bow/empty.png" style="left: 35px; top: -25px;" />

                <span class="size">3&rdquo;</span>

                <span class="price"><span class="dollar-sign">$</span>9</span>

                <a href="#" class="button add">Add to cart</a>
            </div>
        </div>

        <div class="bow-wrapper">
            <div class="bow">
                <img src="{{ MEDIA_URL }}/bow/empty.png" style="left: 35px; top: -25px;" />

                <span class="size">3&rdquo;</span>

                <span class="price"><span class="dollar-sign">$</span>9</span>

                <a href="#" class="button add">Add to cart</a>
            </div>
        </div>

        <div class="bow-wrapper">
            <div class="bow">
                <img src="{{ MEDIA_URL }}/bow/empty.png" style="left: 35px; top: -25px;" />

                <span class="size">3&rdquo;</span>

                <span class="price"><span class="dollar-sign">$</span>9</span>

                <a href="#" class="button add">Add to cart</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
