/**
 * The main Bow Bakery skin
 */
.simple-textshadow (@color: #fff) {
    text-shadow: 0px 1px 0px @color;
    -webkit-text-shadow: 0px 1px 0px @color;
    -moz-text-shadow: 0px 1px 0px @color;
}

html {
    background-color: #ebebeb;
    min-width: 620px;
}

body {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif !important;
}

a {
    color: #2a2a2a;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid #666;
    }
}

.head {
    height: 200px;
    position: relative;
    background: transparent url(/media/skin/img/awning.png) scroll repeat-x 50% -24px;

    .logo {
        position: absolute;
        top: 0px;
        left: 50%;
        padding: 0px;
        margin-left: -112px;
        height: 200px;
        width: 225px;
        text-indent: -9999px;
        background: transparent url(/media/skin/img/logo.png) scroll no-repeat;
    }

    .nav {
        position: absolute;
        li+li:before {
            color: #777;
            content: '|';
            padding: 0 8px;
        }
    }

    .shipping {
        position: absolute;
        background: transparent url(/media/skin/img/free-shipping.png) scroll no-repeat;
        padding: 10px 10px 10px 142px;
        .wow {
            display: none;
        }
    }
}

.checkout {
    position: relative;
    background-image: url(/media/skin/img/checkout-background.png);
    height: 129px;

    li {
        position: relative;
        padding-left: 15px;

        .trash-it {
            position: absolute;
            left: 50%;
            margin-left: -15px;
            background-image: url(/media/skin/img/button/trash.png);
            width: 29px;
            height: 29px;

            &:hover {
                border: none;
            }
        }
    }

    .pay {
        position: absolute;
        background-image: url(/media/skin/img/button/checkout.png);
        width: 192px;
        height: 43px;
        right: 20px;
        top: 10px;
        border: none;

        &:hover {
            background-position: 0px -43px;
        }
    }

    .total {
        .simple-textshadow(#fff);
        position: relative;
        font-family: Georgia;
        font-weight: bold;
        font-size: 230%;
        text-align: right;
        color: #3e3e3e;
        position: absolute;
        background-image: url(/media/skin/img/checkout-total.png);
        right: 11px;
        bottom: 0px;
        width: 210px;
        height: 74px;

        span {
            position: absolute;
            top: 32px;
            right: 30px;

        }

        .dollar-sign {
            right: auto;
            left: 30px;
        }
    }
}

@media (min-width: 950px) and (max-width: 1800px) {
    .head {
        .nav {
            top: 162px;
            left: 50%;
            margin-left: -420px;
        }

        .shipping {
            top: 162px;
            left: 50%;
            margin-left: 220px;
        }
    }
}

@media (max-width: 950px) {
    .head {
        .logo {
            height: 165px;
            left: 0px;
            top: -10px;
            margin: 0;
        }

        .nav {
            background-color: rgba(255,255,255,0.4);
            top: 55px;
            right: 20px;
        }

        .shipping {
            padding: 10px 10px 10px 90px;
            background-position: 5px 2px;
            text-align: right;
            width: 120px;
            right: 20px;
            top: 15px;
        }
    }
}


.bow {
    background-image: url(/media/skin/img/wax-paper.png);

    .size {
        font-size: 128%;
        color: #777;
        height: 26px;
        width: 43px;
        padding-left: 4px;
        background-image: url(/media/skin/img/bow-size-indicator.png);
        background-position: 0 100%;
        background-repeat: no-repeat;
    }

    .price {
        font-weight: bold;
        font-size: 340%;
        font-style: italic;
        color: #0b2432;

        .dollar-sign {
            font-weight: normal;
            font-size: 70%;
            vertical-align: super;
        } 
    }

    .add {
        background: transparent url(/media/skin/img/button/add-to-cart.png) scroll no-repeat 0 0; 
        height: 37px;
        width: 131px;

        &:hover {
            border: none;
            background-position: 0 -37px;
        }
    }
}
